<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="./css/homepage.css" />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />

    <script
      src="https://kit.fontawesome.com/b46ff0cdc5.js"
      crossorigin="anonymous"
    ></script>

      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  </head>

  <body>
  <div class="parent">
    {{!-- NavBar --}}
    <nav id="navbar">
      {{!-- <div id="logo">
        <img src="./images/logo.png" alt="Kapture Foods" />
      </div> --}}
      <ul>
        <li class="item">
          <a href="learning.html">Title1</a>
        </li>
        <li class="item">
          <a href="learning.html">Title2</a>
        </li>
        <li class="item">
          <a href="learning.html">Title3</a>
        </li>
        <li class="item">
          <a href="learning.html">Title4</a>
        </li>
      </ul>
    </nav>

    <div id="home">
      <section id="homeleft">
        <h1 class="headingprimary" style="padding: 1rem; font-size:2rem;">
          Home Away From Home
        </h1>
        <p style="padding: 0.7rem;">
          sddfgyh
        </p>
        <p style="padding: 0.5rem;">
          This is another para tag.
        </p>
        <a href="learning.html">
          <button class="btn" id="schedule">
            schedule call button optional
          </button>
        </a>
      </section>
      <section id="homeright">
        <img src="./images/homeimgnobg.png" id="homeimg" alt="">
      </section>
    </div>
    <div id="main" data-aos="fade-up">
      <div class="floor" data-aos="fade-up">

        <h2><a href="/floor1" onclick="disTab()" >Ground Floor</a></h2>

      </div>
      <div class="floor" data-aos="fade-up">
        <h2><a href="/floor2" onclick="disTab()">First Floor</a></h2>
      </div>
      <div class="floor" data-aos="fade-up">
        <h2><a href="/floor3" onclick="disTab()">Second Floor</a></h2>
      </div>
    </div>
    <div class="slideshow-container" data-aos="fade-up">

      <div class="mySlides fade">
        {{! <div class="numbertext">1 / 3</div> }}
        <img src="./images/hostel1.png" style="width:100%" />
        {{! <div class="text">Caption Text</div> }}
      </div>

      <div class="mySlides fade">
        {{! <div class="numbertext">2 / 3</div> }}
        <img src="./images/login pg.png" style="width:100%" />
        {{! <div class="text">Caption Two</div> }}
      </div>

      <div class="mySlides fade">
        {{! <div class="numbertext">3 / 3</div> }}
        <img src="" style="width:100%" />
        {{! <div class="text">Caption Three</div> }}
      </div>

    </div>
    <br />

    <div style="text-align:center" class="dots" data-aos="fade-up">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

    <div class="features" data-aos="fade-up">
      <h2 class="fheading">Our features</h2>

      <p class="fp">Our hostel is equipped with the all-inclusive services go beyond the basics and include housekeeping,<br>
        maintenance, security, and more.<br> In other words, you'll have all the comforts of home, so you'll feel you never
        left it.</p>
      <hr />
      <ul id="ful" style="display:flex ; justify-content: center; ">

        <li class="fli"><img class="fimg" src="./images/hotwater.png" alt="" /><br>24/7 Hot Water</li>
        <li class="fli"><img class="fimg" src="./images/beds.png" alt="" />Comfortable beds</li>
        <li class="fli"><img class="fimg" src="./images/housekeeping.png" alt="" /></li>
        <li class="fli"><img class="fimg" src="./images/wardrobe.png" alt="" /></li>
        <li class="fli"><img class="fimg" src="./images/chair.png" alt="" /></li>

      </ul>
      <hr />
      {{!-- <h4 class="fh4"><a href="">Know more
          <i class="fa-solid fa-angle-down"></i></a></h4> --}}
    </div>

    <footer>
      <div class="footer-content">
        <h3>Lorem ipsum do </h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
        <ul class="socials">

          <li><a href=""><i class="fa-solid fa-envelope"></i></a></li>
          <li><a href=""><i class="fa-solid fa-square-phone"></i></a></li>

        </ul>
      </div>
      <div class="footer-bottom">
        <p>Copyright &copy; 2022 |All rights reserved by
          <span>Nethunt</span>
        </p>
      </div>
    </footer>
    <script src="./main.js"></script>
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  </body>

</html>