<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="./css/homepage.css" />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />

    <script
      src="https://kit.fontawesome.com/b46ff0cdc5.js"
      crossorigin="anonymous"
    ></script>

      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  </head>

  <body>
  <div class="parent">
    {{!-- NavBar --}}
    <nav id="navbar">
      {{!-- <div id="logo">
        <img src="./images/logo.png" alt="Kapture Foods" />
      </div> --}}
      <ul>
        <li class="item">
          <a href="#home">Home</a>
        </li>
        <li class="item">
          <a href="#main">Floors</a>
        </li>
        <li class="item">
          <a href="#photos">Photos</a>
        </li>
        <li class="item">
          <a href="#map">Maps</a>
        </li>
      </ul>
    </nav>

    <div id="home">
      <section id="homeleft">
        <h1 class="headingprimary" style="padding: 1rem; font-size:2rem;">
         Map Ur Roomie
        </h1>
        <p style="padding: 0.7rem;">
          Home Away From Home
        </p>
        <p style="padding: 0.2rem; font-size:medium">
          Choose Ur Roomie As U Wish Them To Be!!!
        </p>
        <a href="#foot">
          <button class="btn" id="schedule">
            Contact Us
          </button>
        </a>
      </section>
      <section id="homeright">
        <img src="./images/homeimgnobg.png" id="homeimg" alt="">
      </section>
    </div>
    <div id="main" data-aos="fade-up">
      <div class="floor" data-aos="fade-up">

        <h2><a href="/floor1" onclick="disTab()" >Ground Floor</a></h2>

      </div>
      <div class="floor" data-aos="fade-up">
        <h2><a href="/floor2" onclick="disTab()">First Floor</a></h2>
      </div>
      <div class="floor" data-aos="fade-up">
        <h2><a href="/floor3" onclick="disTab()">Second Floor</a></h2>
      </div>
    </div>
    <div id="photos" class="slideshow-container" data-aos="fade-up">

      <div class="mySlides fade">
        {{! <div class="numbertext">1 / 3</div> }}
        <img src="./images/hostelroom.jpg" style="width:100%" />
        {{! <div class="text">Caption Text</div> }}
      </div>

      <div class="mySlides fade">
        {{! <div class="numbertext">2 / 3</div> }}
        <img src="./images/mess.jpg" style="width:100%" />
        {{! <div class="text">Caption Two</div> }}
      </div>

      <div class="mySlides fade">
        {{! <div class="numbertext">3 / 3</div> }}
        <img src="./images/washroom.jpg" style="width:100%" />
        {{! <div class="text">Caption Three</div> }}
      </div>

    </div>
    <br />

    <div style="text-align:center" class="dots" data-aos="fade-up">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

    <div class="features" data-aos="fade-up">
      <h2 class="fheading">Our features</h2>

      <p class="fp">Our hostel is equipped with the all-inclusive services go beyond the basics and include housekeeping,<br>
        maintenance, security, and more.<br> In other words, you'll have all the comforts of home, so you'll feel you never
        left it.</p>
      <hr />
      <ul id="ful" style="display:flex ; justify-content: center; ">

        <li class="fli"><img class="fimg" src="./images/hotwater.png" alt="" /><br><br>24/7 Hot Water</li>
        <li class="fli"><img class="fimg" src="./images/beds.png" alt="" /><br><br>Comfortable beds</li>
        <li class="fli"><img class="fimg" src="./images/housekeeping.png" alt="" /><br><br>House Keeping</li>
        <li class="fli"><img class="fimg" src="./images/wardrobe.png" alt="" /><br><br>Spacious Wardrobe</li>
        <li class="fli"><img class="fimg" src="./images/chair.png" alt="" /><br><br>Table Chair</li>

      </ul>
      <hr />
      {{!-- <h4 class="fh4"><a href="">Know more
          <i class="fa-solid fa-angle-down"></i></a></h4> --}}
    </div>
    <div id="map" class="container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15551.003117715301!2d77.54506788473105!3d12.987785654240207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3dcfd5460503%3A0x9df20111321b5f1f!2sWomen&#39;s%20Hostel!5e0!3m2!1sen!2sin!4v1654365946780!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <footer id="foot">
      <div class="footer-content">
        <h3>MAP UR ROOMIE</h3>
        <p>759, 13th main, 13, th main, 3rd Block, Rajajinagar, Bengaluru, Karnataka 560010
          <br>
          +(91)7998074332</p>
        <ul class="socials">

          <li><a href=""><i class="fa-solid fa-envelope"></i></a></li>
          <li><a href=""><i class="fa-solid fa-square-phone"></i></a></li>

        </ul>
      </div>
      <div class="footer-bottom">
        <p>Copyright &copy; 2022 |All rights reserved by
          <span>Nethunt</span>
        </p>
      </div>
    </footer>
    <script src="./main.js"></script>
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  </body>

</html>