<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/login.css">
</head>

<body>
    <div class="split-screen">
        <div class="left">
        </div>
        <div class="right">
            <div class="rightalign">
                <section>
                    <button class="google-btn"><a href="/">Log In with Google</a></button>
                </section>
                <form>
                    <br>
                    <div class="ordiv">
                        <hr>
                        <div class="or">or</div>
                    </div>
                    <div class="input-container">
                        <label for="email">Email address</label>
                        <input id="email" name="email" type="email" placeholder="Email" required>
                    </div>
                    <div class="input-container">
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" placeholder="Password" required>
                        <i class="far fa-eye-slash"></i>
                    </div>
                    <button class="register-btn" type="submit"><a href="/">Login</a></button>
                    </section>
                </form>
            </div>

        </div>
    </div>
</body>

</html>